body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  background-color: #D7D7D7;
  color: #6B6B6B;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
